.sidebar {
    width: 20%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column; //세로 정렬
    align-items: center;
    padding-top:2rem;
}

.sidebarLogo {
    width: 20rem;
    height: 2.2rem;
    margin-bottom: 4rem;
  
    img {
        cursor: pointer;
        width:100%;
        height:auto;
    }
}

.sidebarMenuList {
    width: 100%;
    font-size: 1.9rem;
  
    li {
      width: 100%;
      height: 5.2rem;
      background-color: #fff;
      padding: 1.3rem 3.6rem;
      color: var(--grey-800);
    }
  
    li:first-child {
      color: var(--primary-color);
      font-weight: 600;
    }
}

.help {
  width: 100%;
  background-color: #fff;
  margin-top: 10rem;
}

.title {
  width: 30%;
  margin: 0 auto;
  font-size: 5.0rem;
  font-weight: 700;
}

.helpContent {
  width: 55%;
  background-color: #fff;
  margin: 6rem auto 0;
}

.secondTitle {
  font-size: 2.0rem;
  font-weight: 600;
}

.list {
  margin-top: 3rem;

  li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2.4rem;

    input {
      width: 2rem;
      height: 2rem;
    }

    p {
      font-size: 1.7rem;
      font-weight: 400;
    }
  }
}

.nextButton {
  padding: 1.4rem 17rem;
  background-color: ;
}