.footer {
  width: 100%;
  background-color: var(--color-primitive-gray-100);
  padding: 5rem 27rem 10rem;

  @media (max-width: 1200px) {
    padding: 5rem 2rem 10rem;
  }
}

.footerContainer {
  width: 100%;
  height: 100%;
  background-color: var(--color-primitive-gray-100);
}

.footerTitle {
  font-weight: 700;
  color: var(--color-primitive-gray-700);
  font-size: 1.5rem;

  @media (max-width: 611px) {
    margin-bottom: 1.2rem;
  }
}

.footerInfoContactItem {
  display: flex;
  gap: 1rem;
}

.footerLinkContainer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 5rem;
}

.footerLink {
  font-weight: 700;
  color: var(--color-primitive-gray-700);
  font-size: 1.5rem;
}

.footerLink:hover {
  color: var(--color-primitive-primary-500);
}

.footerInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 5rem;

  li {
    font-weight: 500;
    color: var(--color-primitive-gray-600);
    font-size: 1.5rem;
  }

  .footerInfoContactItemTitle:first-child {
    &:after {
      content: "|";
      margin-left: 1rem;
    }
  }
}

.footerInfoContact {
  @media (max-width: 611px) {
    flex-direction: column;
    gap: 1.2rem;

    .footerInfoContactItemTitle:first-child {
      &:after {
        content: "";
      }
    }
  }
}

.footerCopyright {
  font-weight: 700;
  color: var(--color-primitive-gray-700);
  font-size: 1.5rem;
  margin-top: 5rem;
  display: block;
}
