.header {
  width: 100%;
  height: 6rem;
  background-color: #fff;
  padding: 1.8rem 4.8rem;
  color: var(--grey-800);
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  @media (max-width: 611px) {
    padding: 1.8rem 2rem;
  }
}

.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  width: 10rem;

  img {
    cursor: pointer;
  }

  .headerLogoImage {
    width: 10rem;
    height: 2.2rem;
  }
}

.headerMenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerMenuList {
  font-size: 1.7rem;
}

.userMenu {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: var(--grey-400);
}

.userMenuIcon {
  cursor: pointer;
}

.userMenuIconBell, 
.userMenuIconMenu {
  width: 3rem;
  height: 3rem;
  color: var(--color-semantic-icon-tertiary);
}

.login {
  padding: 0.6rem 2rem;
  border: 1px solid var(--color-semantic-border-default);
  border-radius: 0.5rem;
  font-size: var(--label-M-size);
  font-weight: var(--label-M-weight);
  color: var(--color-semantic-text-primary);
  white-space: nowrap;
}
